@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-cormorant_garamond), serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-ibm_plex_sans), sans-serif;
}

/* Add this to src/styles/tailwind.css */

.group:hover .transform {
  transform: scale(1.05);
}

.group:hover .shadow-lg {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
